useDynLib(omnetpp)

export(loadDataset, add, discard)
export(loadVectors)
export(createBarChartDataset, createHistograms, createScatterChartDataset)
export(plotBarChart, plotHistogramChart, plotLineChart)
